html {
    width: auto;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
}

body {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Cabin', sans-serif;
    background-color: rgb(255, 255, 255);
    line-height: 1.7;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: linear-gradient(to top, rgb(30, 37, 92), rgb(53, 65, 177), rgb(53, 65, 177)); */
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: rgba(42, 184, 61, 0);
}

 ::-webkit-scrollbar-thumb {
    background: rgb(137, 224, 134);
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(182, 235, 168);
}

.user-select-none {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.form-lay {
    background-color: white;
    z-index: 10;
    text-align: center;
    display: block;
    align-items: center;
}

.input-lay {
    text-align: center;
    display: block;
    align-items: center;
    /* position: relative; */
}

.input-text {
    width: 50vh;
    height: 50px;
    margin: 10px;
    display: inline-block;
    font-size: 20px;
}

.input-button {
    width: 50vh;
    height: 50px;
    margin: 10px;
    display: inline-block;
    font-size: 20px;
    background-color: #19860f;
    color: #fff;
    margin-bottom: 100px;
    outline: none;
}

.top-lay {
    text-align: center;
}

.top-text {
    font-size: 5vh;
    font-weight: bold;
    color: #25a719;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.content-lay {
    display: block;
    align-items: center;
}

.the-section {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    position: relative;
    display: none;
}

.questions-top {
    display: inline;
}

.title-text {
    height: auto;
}

.title-text span {
    display: inline-block;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px;
    color: #2c167c;
}

.content-lay {
    height: 40vh;
    color: black;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.content-line {
    display: flex;
    flex-direction: row;
}

.content-line .radio {
    width: 50px;
    display: inline-block;
    cursor: pointer;
}

.content-line span {
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}

.button-lay {
    height: 15vh;
    text-align: center;
    display: block;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 1;
    font-size: 30px;
}

.last-lay {
    width: 100%;
    margin: 20px 8px 20px 8px;
    text-align: center;
    display: block;
    align-items: center;
    position: relative;
}

.thanks-txt {
    color: #636363;
    text-align: center;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
}

.submit-btn {
    width: 300px;
    height: 200px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    margin: 30px;
    text-align: center;
    background-color: #25a719;
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #1a7212;
}

.submit-btn:disabled {
    background-color: #699765;
}

.registration-lay {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.questions-lay {
    display: none;
    width: 100%;
    height: auto;
    position: relative;
}

.results-lay {
    display: none;
    width: 100%;
    height: auto;
    position: relative;
}

.result-title-lay {
    height: auto;
    align-items: center;
    text-align: center;
}

.result-title-lay span {
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    color: #0c6b0c;
}

.details-lay {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.details-lay li {
    color: black;
    font-size: 16px;
    margin: 8px 4px 8px 4px;
    display: list-item;
}

.tips-lay {
    height: auto;
    align-items: center;
    text-align: center;
}

.tips-lay span {
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    color: #053183;
}

.tips-desc {
    height: auto;
    align-items: center;
    text-align: center;
}

.tips-desc span {
    display: inline-block;
    font-size: 18px;
    margin: 20px;
    color: #000000;
}

.tips-items-lay {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tips-items-lay li {
    color: black;
    font-size: 16px;
    margin: 8px 4px 8px 4px;
    display: list-item;
}

.download-lay {
    height: 15vh;
    text-align: center;
    display: block;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    z-index: 1;
    font-size: 30px;
}

.download-btn {
    width: auto;
    height: 200px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    margin: 30px 0px 30px 0px;
    text-align: center;
    background-color: #25a719;
    border-radius: 8px;
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #1a7212;
}

.download-btn:disabled {
    background-color: #699765;
}